
.main__cover{
    text-align: center;
    color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main__text{
    margin: 30px;
    font-size: 25px;
    color:white;
}
.btn{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}