.main {
    &__cover {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

        p {
            color: white;
            font-size: 1.5rem;
        }

        &__details {
            width: 50px;
            text-align: center;
        }

        &__search {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
        }

        .btn {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
        }
    }

    &__text {
        font-size: 2.28rem;
        text-indent: 0;
        padding: 100px 0 0 0;
    }
}

.search {
    margin: 400px auto;
    max-width: 1400px;
    min-width: 310px;
    height: 100hv;
    background-color: white;
    color: white;
    border-radius: 35px;
    transform: (-50%, -50%);
    text-align: center;
    text-decoration: none;

    &__input {
        border: none;
        width: 200px;
        text-align: center;
        border-bottom: none;
        outline: none;
        margin: 10px;
    }

    &__text {
        font-size: 1.5rem;
        color: black;
        padding: 0 auto;
        text-align: left;
        list-style-type: none;
        text-indent: 25px;

        li {
            margin: 10px;
        }
    }
}