.theme__style {
    max-width: 1400px;
    height: 100%;
    margin: 30px auto 20px;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 310px;
}

.theme__details {
    text-align: left;
    background-color: white;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 35px;
    padding: 10px;
    margin: 10px;
    min-width: 310px;
}

.bilet__numbervopros {
    font-size: 2.28rem;
    margin: 0;
    padding: 0;
}

.bilet__number {
    pointer-events: none;
    text-align: center;
    text-decoration: solid;
    padding: 0;
    margin: 7px;
    color: black;
    position: fixed;
    width: calc(100%-35px);
    top: 0;
    left: 0;
    z-index: 50;
    font-size: 2.28rem;
}
