* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 50;
   top: 0; 
   left: 0;

}

main{
  padding: 50px;
}
p{
  margin: 20px;
  color: black;
}

.burger-btn{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

header.links {
  display: none;
}


.burger-btn:before{
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 2px;
  background-color: black;
}
.burger-btn span{
  position: absolute;
  top: 9px;
  width: 20px;
  height: 2px;
  background-color: black;
}
.burger-btn:after{
  content: '';
  position: absolute;
  background-color: black;
  bottom: 0;
  width: 20px;
 height: 2px;
}